<div class="col s12 m12 l12">
    <nav>
        <div class="nav-wrapper">
            <a href="" routerLink="/" class="brand-logo">NewsPara.com</a>
            <ul class="right hide-on-med-and-down content">
                <li *ngFor="let item of Category"><a routerLink="category/{{item}}">{{item}}</a></li>

                <li (click)="onClick()"><a class="">
                  Languages<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
    <ul *ngIf="isOpen" class="dropdown-wrapper">
        <li *ngFor="let lan of searchData"><a href="/category/{{lan.name}}">{{lan.name}}</a></li>

    </ul>
    <router-outlet></router-outlet>
</div>
