/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100vw;
}

.container {
    width: 100% !important;
}

.content::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}