.header {
    font-weight: bold;
    font-size: 30pt;
    text-transform: capitalize;
}

.header-content {
    padding: 7px;
    border-bottom: 3px solid rgb(221, 81, 62);
    background-color: rgb(252, 197, 197);
    color: rgb(230, 55, 32);
    margin-top: 30px;
    margin-bottom: 30px;
}
